{% raw %}{% extends "base.html" %}{% endraw %}

{% raw %}{% block announce %}{% endraw %}
  For updates follow <strong>@laenan</strong> on
  <a rel="me" href="https://chaos.social/@laenan">
    <span class="twemoji mastodon">
      {% raw %}{% include ".icons/fontawesome/brands/mastodon.svg" %}{% endraw %}
    </span>
    <strong>Fosstodon</strong>
  </a>
{% raw %}{% endblock %}{% endraw %}
